<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <link rel="stylesheet" href="/assets/core/css/reset.css" />
  <link rel="stylesheet" href="/assets/public/css/common.css" />
  <!-- <link rel="stylesheet" href="/<%= modulePath%>.css" /> -->
 </head>
 <body>
 <% include ./nav.ejs%>
